<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rush_Rh</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/plantillaBase.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/listaNominas.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/incidentesUsuario.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cursosDiplomados.css"  asp-append-version="true" />
    <link rel="stylesheet" href="~/css/registro.css">
    <link rel="stylesheet" href="~/css/avisos.css">
    <link rel="stylesheet" href="~/css/buzonSugerencias.css">
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

    <!-- estilos del editor de texto  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sceditor@3/minified/themes/default.min.css" />
</head>

<body>
    <div class="base_LayoutPrincipal">
        <nav class="barra-navegacion-lateral">
            <!-- #region  ~/assets/icon-perfil-lateral.svg-->
            <div>
                <a href="/PerfilUsuario">
                    <img src="~/assets/icon-perfil-lateral.svg" alt="Datos Personales">
                    <span>Perfil de usuario</span>
                </a>
            </div>
            <div>
                <a href="/IncidentesUsuario">
                    <img src="~/assets/icon-datos_personales-lateral.svg" alt="Justificar Incidencias">
                    <span>Justificar Incidencias</span>
                </a>
            </div>
            <div>
                <a href="/MisAvisos">
                    <img src="~/assets/icon-avisos-lateral.svg" alt="Mis Avisos">
                    <span>Mis Avisos</span>
                </a>
            </div>
            <div>
                <a href="/PermisoLicencias">
                    <img src="~/assets/icon-vacaciones_licencias-lateral.svg" alt="Vacaciones/Licencias">
                    <span>Vacaciones / Licencias</span>
                </a>
            </div>
            <div>
                <a href="/CursosDiplomados">
                    <img src="~/assets/icon-cursos_realizados-lateral.svg" alt="Cursos Realizados">
                    <span>Cursos Realizados</span>
                </a>
            </div>
            <div>
                <a href="/ListaNominas">
                    <img src="~/assets/icon-lista_nominas-lateral.svg" alt="Datos Empleado">
                    <span>Lista de Nominas</span>
                </a>
            </div>
        </nav>

        <!-- Menú en botón flotante para pantallas pequeñas -->
        <div class="btn-group dropend boton-flotante">
            <button id="boton-flotante" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="~/assets/icon-menu-cabecera.png" alt="Menu de opciones">
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/PerfilUsuario">Perfil de Usuario</a></li>
                <li><a class="dropdown-item" href="/IncidentesUsuario">Justificar Incidencias</a></li>
                <li><a class="dropdown-item" href="/MisAvisos">Mis Avisos</a></li>
                <li><a class="dropdown-item" href="/PermisoLicencias">Vacaciones / Licencias</a></li>
                <li><a class="dropdown-item" href="/CursosDiplomados">Cursos Realizados</a></li>
                <li><a class="dropdown-item" href="/ListaNominas">Lista de Nominas</a></li>
            </ul>
        </div>

        <header class="cabecera">
            <!-- Menu Hamburguesa -->
            <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
                <div class="offcanvas-body">
                    <div class="opcionesMenu">
                        <a href="/Home"><span class="material-symbols-outlined">home</span>Home</a>
                        <a href="/PausasActivas"><span class="material-symbols-outlined">edit_calendar</span>Pausas activas</a>
                        <a href="/BuzonSugerencias"><span class="material-symbols-outlined">local_post_office</span>Buzón de sugerencias</a>
                        <a href="/Organigrama"><span class="material-symbols-outlined">graph_2</span>Organigrama</a>
                    </div>
                </div>
            </div>
            <!-- Menu Icono Perfil -->
            <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop1" aria-labelledby="offcanvasTopLabel">
                <div class="offcanvas-body">
                    <div class="opcionesMenu">
                        <div class="contenedorIconoPerfilMenuHamburguesa">
                            <img src="~/assets/icon-usuario-cabecera.svg" alt="Icono Usuario">
                        </div>
                        <a href="/PerfilUsuario"><span class="material-symbols-outlined">person</span>Perfil</a>
                        <a href="#" onclick="confirmarLogout()"><span class="material-symbols-outlined">logout</span>Cerrar Sesión</a>
                    </div>
                </div>
            </div>


            <div class="logo_rush-cabecera">
                <a href="/Home"><img src="~/assets/icon-logo_rush-cabecera.png" alt="Logo Rush"></a>
            </div>
            <div class="logo-rush-derecha">
                <div class="menu-cabecera">
                    <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"><img
                            src="~/assets/icon-menu-cabecera.png" alt="Menu de opciones"></a>
                </div>
                <div class="usuario-cabecera">
                    <a href="#" data-bs-toggle="offcanvas"  data-bs-target="#offcanvasTop1" aria-controls="offcanvasTop"><img src="~/assets/icon-usuario-cabecera.svg" alt="Icono Usuario"></a>
                </div>
            </div>
        </header>
        <div class="contenedor-cuerpo-pagina">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Editor de texto -->
    <script src="https://cdn.jsdelivr.net/npm/sceditor@3/minified/sceditor.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sceditor@3/minified/formats/xhtml.js"></script>

    <!-- Alerta -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Alerta para cerrar sesión -->
    <script>
        function confirmarLogout() {
            Swal.fire({
                title: "¿Estás seguro?",
                text: "Se cerrará tu sesión actual.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#d33",
                cancelButtonColor: "#3085d6",
                confirmButtonText: "Sí, cerrar sesión",
                cancelButtonText: "Cancelar"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/Logout"; // Redirige a la acción de logout
                }
            });
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("Styles", required: false)
</body>

</html>