.main{
  height: 100vh !important;
  width: 100vw !important;
  padding-top: 0;
}


.contenedor{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column; /* Asegura que las secciones se organicen en una columna */
  /*justify-content: center; /* Opcional: Centrar todo el contenido del contenedor */
  /*align-items: center; /* Centrar las secciones horizontalmente */
  gap: 2.5vh;
  overflow-y: auto;
  border: calc(.16vw + .1vh) solid #4fbaed;
  border-radius: calc(1.5vw + 1vh);
  padding: calc(1.0vw + 1vh);
  box-sizing: border-box; 
  scrollbar-width: none; /* Firefox */
}

/*---------------------------- seccion cabecera  ---------------------------------------*/
.cabeceraCalendarioPermisos{
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

/* .cabeceraCalendarioPermisos img {
  width: calc(2.5vw + 1.5vh);
} */

/* .cabeceraCalendarioPermisos .icono-calendario {
  font-size: calc(2vw + 1.5vh);
  color: #428a6c;
}
 */
.icono-volver .material-symbols-outlined {
  font-size: calc(2vw + 1.5vh);
  cursor: pointer;
  color: #428a6c;
}

.icono-volver .material-symbols-outlined:hover{
  transform: scale(1.1);
  color: #156c46;
 }
/********formulario para aplicar filtros**********/
.cabeceraCalendarioPermisos__Fecha{
  padding: 10px; /*agrega padding interno */
  box-sizing: border-box; /* Incluye padding en el cálculo del ancho */
  position: relative;
}

/* Ajuste para que el ancho del collapse dependa del contenido */
.cabeceraCalendarioPermisos__Fecha__contenido {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap; /* Evita saltos de línea */
  max-width: 100%; /* Evita que se expanda demasiado */
}

.cabeceraCalendarioPermisos__Fecha__contenido h1{
  margin: 0;
  font-size: calc(1.5vw + 1.5vh) !important;
}

.selectFormularioCalendario {
  display: flex;
  justify-content: flex-end; 
  width: 100%; 
}

.espaciado-formularioCalendarioPermisos{
  margin-bottom: 15px;
}

.selectFormularioCalendario label{
  color: #002d56 !important;
}

.selectFormularioCalendario option{
  background-color: #d8edff;
  border: none;
}

#collapseCalendarioPermisos {
  position: absolute;
  right: 0;
  top: 100%; /* Para que se despliegue hacia abajo */
  z-index: 1000; /* Asegura que se superponga si es necesario */
}

.selectFormularioCalendario select{
  background-color: #d8edff;
  border: none;  
}

/*Contenedor del botón*/
.contenedorBotonBuscar {
    display: flex;
    justify-content: flex-end; /* Alinea el botón */
    width: 100%; /* Asegura que ocupe el ancho disponible */
    margin-top: 15px; /* Espacio adicional entre el botón y el último elemento */
}

.botonBuscarCalendarioPermisos{
  background-color: #002d56;
  color: #ffffff;
  border-radius: 20px;
  border: none;
  width: 5.5vw; 
  height: 4.5vh; 
  font-size: 1em; 
  transition: background-color 0.3s, color 0.3s, width 0.3s, height 0.3s, font-size 0.3s; /* Animación suave */
  box-sizing: border-box;
}

.botonBuscarCalendarioPermisos:hover{
  background-color: #001a3a;
}

.material-symbols-outlined {
  font-size: 24px; /* Tamaño del ícono */
  color: #000; /* Cambia el color si es necesario */
}

/*----------------------------------------Seccion tabla calendario------------------------------*/

.seccionCalendario{
  width: 100%; /* Asegura que ocupen todo el ancho del contenedor */
  flex-shrink: 0; /* Evita que se encojan */
  padding: 10px; /* Añade espacio interno */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño */
}

.seccionCalendario__tabla {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  background: #fff;
}

.seccionCalendario__tabla th{
  background-color: #49b9ed;
  color: white;
  padding: .5;
  text-align: center;
  border: none; /* Elimina todos los bordes */
  border-right: 2px solid white; /* Línea divisoria entre columnas */
  font-size: 15px; /*Cambia el tamaño del texto*/
}

.seccionCalendario__tabla td{
  width: 14.28%;
  height: 120px;
  border: 2px solid #49b9ed;
  position: relative;
  text-align: center;
  vertical-align: top;
  padding: 0 !important;
}

.celdaCalendario-con-registro {
  background-color: #fff3cd !important; /* Amarillo claro */
}

.seccionCalendario__tabla .fecha{
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.seccionCalendario__tabla .contenedorNombres{
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  height: 100%; /* Ocupa toda la celda */
}

.seccionCalendario__tabla .nombresLicencias{
  font-size: 15px; /*Cambia el tamaño del texto*/
  color: #007bff;
  font-weight: bold;
  text-align: center; /* Centra horizontalmente */
}

.seccionCalendario__tabla .nombresVacaciones{
  font-size: 15px; /*Cambia el tamaño del texto*/
  color: #ff8c00;
  font-weight: bold;
  text-align: center; /* Centra horizontalmente */
}

/*-------------------------------------Seccion imagen con indicador de colores-----------------*/

.SeccionGiaColoresCalendario{
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  flex-shrink: 0; /* Evita que se encojan */
  padding: 10px; /* Añade espacio interno */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño */
}

.SeccionGiaColoresCalendario img{
  width: calc(15vw + 20vh);
}

/*-------------------------------------------------Modal---------------------------------------*/

.TituloModalCalendario{
  padding: 25px;  /* Reduce el padding interno */
  display: flex;
  align-items: center; /* Centra los elementos verticalmente */
  justify-content: space-between; /* Separa el título y el botón */
}

.TituloModalCalendario h1 {
  text-align: left; /* Asegura que el texto se alinee a la izquierda */
  margin: 0; /* Evita márgenes no deseados */
  flex-grow: 1; /* Permite que ocupe el espacio restante */
}

#ModalCalendario .modal-dialog {
  max-width: 50vw; /* Ajusta el ancho del modal al 90% del viewport */
  width: 100%;
}

#ModalCalendario .modal-content {
  padding: 10px; /* Reduce el padding interno */
}

.rowFormularioModal {
  display: flex;
  flex-direction: column; /* Asegura que cada grupo esté en una fila distinta */
  gap: 15px; /* Espaciado entre filas */
}

.rowFormularioModal_1, .rowFormularioModal_2, .rowFormularioModal_3 {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos en la fila */
  gap: 20px !important; /* Espacio entre los elementos */
}

.rowFormularioModal_1 > div,
.rowFormularioModal_3 > div {
  flex: 1; /* Hace que cada input tenga el mismo tamaño */
}

.rowFormularioModal_2 > div{
  flex: 1 1 calc(25% - 10px); /* Cada input ocupa el 25% del ancho con ajuste automático */
  min-width: 120px; /* Evita que los inputs sean demasiado pequeños */
}

.rowFormularioModal textarea {
  width: 100%;
  height: 100px; /* Ajusta la altura del textarea si es necesario */
  resize: none; /* Evita que el usuario lo redimensione */
}

.rowFormularioModal label{
  color: #002d56 !important;
}

.rowFormularioModal input,
.rowFormularioModal textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px; /* Agrega espacio entre el input y el siguiente label */
}

.rowFormularioModal label[for="comentarios"] {
  margin-bottom: 2px; /* Reduce el espacio debajo del label */
}

#comentarios_Calendario {
  margin-top: 0px; /* Elimina el espacio superior del textarea */
}


/*                                             DISEÑO RESPONSIVO                               */

@media (max-width: 1500px){
  .rowFormularioModal label{
    font-size: 15.5px;
  }

  .rowFormularioModal input,
  .rowFormularioModal textarea {
    font-size: 15.5px;
  }
}

@media (max-width: 1370px) {
  .main{
    padding-top: 2vw !important;
  }

  .contenedor{
    height: 90vh;
  }

  .botonBuscarCalendarioPermisos{
    width: 80px !important;
    height: 30px !important;
  }

  /*Modal*/

  /* Usuario y Jefe en una misma línea (50% cada uno) */

  #ModalCalendario .modal-dialog {
    max-width: 70vw; /* Hace que el modal sea más ancho */
  }

  .TituloModalCalendario {
    justify-content: flex-start !important; /* Asegura que no se centre en pantallas más pequeñas */
  }
  
  .rowFormularioModal_1 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .rowFormularioModal_1 div:nth-child(1),  /* Usuario */
  .rowFormularioModal_1 div:nth-child(2) { /* Jefe Directo */
    flex: 1 1 48%; /* Ocupan el 50% del ancho */
  }

  /* Tipo Licencia en un nuevo renglón (100% de ancho) */
  .rowFormularioModal_1 div:nth-child(3) { /* Tipo Licencia */
    flex: 1 1 100%;
  }

  /* Fechas en dos filas, 50% cada input */
  .rowFormularioModal_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
    gap: 10px;
  }

  .rowFormularioModal_2 div {
    width: 100%; /* Asegura que los elementos ocupen todo su espacio en la celda */
  }
}


@media (max-width: 1000px){
  .TituloModalCalendario {
    justify-content: flex-start !important; /* Asegura que no se centre en pantallas más pequeñas */
  }

  .selectFormularioCalendario label{
    font-size: 15px;
  }

  .selectFormularioCalendario select{
    font-size: 15px;
  }
}

@media (max-width: 900px) {
  .TituloModalCalendario {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
  }

  .TituloModalCalendario h1 {
    text-align: left !important;
    flex-grow: 1;
  }
}


@media (max-width: 826px){
  .TituloModalCalendario {
    justify-content: flex-start !important; /* Asegura que no se centre en pantallas más pequeñas */
  } 

  #ModalCalendario .modal-dialog {
    max-width: 80vw; /* Hace que el modal sea más ancho */
  }

  .rowFormularioModal label{
    font-size: 15px;
  }

  .rowFormularioModal input,
  .rowFormularioModal textarea {
    font-size: 15px;
  }

  /* Usuario, Jefe y Tipo Licencia en una sola columna */
  .rowFormularioModal_1 {
    flex-direction: column;
    gap: 10px;
  }

  .rowFormularioModal_1 div {
    flex: 1 1 100%; /* Cada elemento ocupa el 100% del ancho */
  }

  /* Fechas en dos filas con 50% cada input */
  .rowFormularioModal_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 10px;
  }

  .rowFormularioModal_2 div {
    width: 100%;
  }

}

@media (max-width: 768px) {
  .main{
    padding-top: 2vw !important;
  }

  .contenedor{
    height: 90vh;
  }

  .espaciado-formularioCalendarioPermisos{
    margin-bottom: 14px;
  }

  .selectFormularioCalendario label{
    font-size: 14px;
  }

  .selectFormularioCalendario select{
    font-size: 14px;
  }

  .cabeceraCalendarioPermisos__Fecha__contenido h1 {
    font-size: calc(1.2vw + 1.2vh) !important; /* Reduce el tamaño del texto */
  }

  .botonBuscarCalendarioPermisos{
    width: 75px !important;
    height: 30px !important;
    font-size: 12px;
  }

  /*Modal*/

  #ModalCalendario .modal-dialog {
    max-width: 80vw; /* Hace que el modal sea más ancho */
  }
  /* Usuario, Jefe y Tipo Licencia en una sola columna */
  .rowFormularioModal_1 {
    flex-direction: column;
    gap: 10px;
  }

  .rowFormularioModal_1 div {
    flex: 1 1 100%; /* Cada elemento ocupa el 100% del ancho */
  }

  /* Fechas en dos filas con 50% cada input */
  .rowFormularioModal_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 10px;
  }

  .rowFormularioModal_2 div {
    width: 100%;
  }
  
}


@media(max-width: 480px)
{
  .main{
    padding-top: 2vw !important;
  }

  .contenedor{
    height: 90vh;
  }

  .cabeceraCalendarioPermisos__Fecha__contenido h1{
    font-size: 20px !important;
  }

  .espaciado-formularioCalendarioPermisos{
    margin-bottom: 13px;
  }

  .selectFormularioCalendario label{
    font-size: 12px;
  }

  .selectFormularioCalendario select{
    font-size: 12px;
    height: 30px;
  }

  .seccionCalendario__tabla th{
    font-size: 7px;
  }

  .seccionCalendario__tabla td{
    height: 85px;
  }

  .seccionCalendario__tabla .fecha{
    font-size: 9px;
  }

  .seccionCalendario__tabla .nombresLicencias{
    font-size: 9px;
  }

  .seccionCalendario__tabla .nombresVacaciones{
    font-size: 9px;
  }

  /*Modal*/
  #ModalCalendario .modal-dialog {
    max-width: 90vw; /* Hace que el modal sea más ancho */
  }

  .rowFormularioModal label{
    font-size: 14px;
  }

  .rowFormularioModal input,
  .rowFormularioModal textarea {
    font-size: 14px;
  }

  /* Usuario, Jefe y Tipo Licencia en una sola columna */
  .rowFormularioModal_1 {
    flex-direction: column;
    gap: 10px;
  }

  .rowFormularioModal_1 div {
    flex: 1 1 100%; /* Cada elemento ocupa el 100% del ancho */
  }

  /* Fechas en dos filas con dos elementos en cada una */
  .rowFormularioModal_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 10px;
  }

  .rowFormularioModal_2 div {
    width: 100%;
  }

}

@media (max-width: 350px) {
  .rowFormularioModal_2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .rowFormularioModal_2 div {
    flex: 1 1 100%; /* Los inputs ocupan el 100% del ancho en una sola columna */
  }

  .cabeceraCalendarioPermisos__Fecha__contenido h1{
    font-size: 17px !important;
  }
}