.hidden{
    display: none;
}

.inputContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.barra-vertical {
    width: 3px;
    background-color: #009de5;
    height: 55vh;
    margin-left: 5%;
}

.barra-horizontal {
    width: 100%;
    background-color: #009de5;
    height: 3px;
    margin: 2vh 0; 
}

.formulario_cursos .columna{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: .6vw 0;
}

.flechas_scroll button{
    margin-top: 20%;
    margin-right: 5%;
    background-color: #ffffff00;
    border: #ffffff00;
}

.flechas_scroll button span{
    font-size: calc(2.5vw + 3.8vh);
}

.recordatorio-vertical{
    width: 30%;
    padding: 0 5%;
}



/* Estilo del área de arrastrar y soltar */
#drop-zoneCursos {
    border: 2px dashed #bfe0fd;
    padding: 20px;
    border-radius: 4px;
    background-color: #f5faff;
    color: #012d56;
    font-size: 14px;
    transition: background-color 0.2s ease;
    padding: 2% 0;
}

/* Cambia el color al arrastrar archivos */
#drop-zoneCursos.dragover {
    background-color: #e6f3ff;
}

.seccion2{
    padding-top: calc(1.0vw + 1vh);

}

.cursos_registrados{
    display: flex;
    height: 62vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0;
}

.cursos_lista{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0 2% 2%;
    overflow: auto;
    scrollbar-width: none; /* Firefox */
}

.cursos_lista::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.curso{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding: 1% 0;
}

.atributos_curso{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    padding: 1% 3% 1% 3%;
}

.imagen_curso{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8edff;
}

.imagen_curso span{
    font-size: 3.4vw;
    color: #012d56;
}

/*---------------------------------------------------------------------Estilos en funcionamiento---------------------------------------------------------------*/


.contenido-cursos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.tablaCursos{
    width: 100%;
    overflow: auto;
    scrollbar-width: none;  /* Firefox */
    margin: 0;
    height: 50vh;
    border-radius: 19px;
}

.tablaCursos::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.tablaCursos table {
    width: 100%;
    margin: 0 auto; /* Centra la tabla en la página */
    font-size: calc(.6vw + .5vh);
}

.tablaCursos table th, .tablaCursos table td {
    text-align: center; /* Centra horizontalmente */
    vertical-align: middle; /* Centra verticalmente */
    padding: 10px;
}

.tablaCursos th {
    background-color: #49b9ed;
    font-weight: bolder;
    color: white;
}

.tablaCursos td {
    background-color: #d8edff;
    font-weight: bolder;
    color: #012d56;
    border-bottom: 2px solid #4c7388;
}

.tablaCursos td a{
    text-decoration: none;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    padding: 5px;
    border-radius: 15px;
    width: 100%;
    transition: background-color, transform .3s;
}

.tablaCursos td a span{
    color: white !important;
}

.tablaCursos td a:hover{
    background-color: rgb(201, 1, 1);
    transform: scale(1.05);
} 

.filtro-actividades{
    width: 100%;
}

.filtro-actividades form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.filtro {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
}

.filtro label {
    font-size: 1.2em;
    font-weight: bold;
    color: #002451;
}

/* ------------------------------------------------------------- Recordatorio ---------------------------------------- */

.barra-vertical {
    width: 5px;
    background-color: #009de5;
    height: 35vh;
    margin: 0 1vh 0 4vh; 
}

.recordatorio-columna {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0 5%;
}

.boton_buscar_actividades{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.recordatorio {
    color: #002451;
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.2;
}

/*------------------------------media queries---------------------------*/
/*mediaquery para el boton*/

@media (max-width: 1200px) {
    .recordatorio {
        font-size: 1.2em;
    }
    .filtro label {
        font-size: 1em;
    }

}

/* Tamaño de texto más pequeño en pantallas medianas */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }
}

@media (max-width: 768px) {
    .recordatorio {
        font-size: 1em;
    }
    .contenido-cursos{
        flex-direction: column !important;
    } 
    .barra-vertical {
        display: none;
    }
}

/* Botón aún más pequeño en pantallas pequeñas */
@media (max-width: 670px) {
    .recordatorio {
        font-size: 1em;
    }
    
}

/* Reduce el tamaño para pantallas pequeñas */
@media (max-width: 480px) {
    h1 {
        font-size: 2em;
    }
    .filtro label {
        font-size: .8em;
    }
    .filtro{
        flex-direction: column;
    }
    .filtro div{
        width: 100%;
    }
}


