

/*-----------------------------------Menu hamburguesa*/


  /* Sobrescribir el ancho horizontal */
  .offcanvas-top {
    margin-top: 6.5vh !important; /* Sobrescribe el margen superior */
    width: 15vw !important; /* Sobrescribe el ancho horizontal */
    height: 32vh !important; /* Sobrescribe la altura vertical */
    margin-left: 81vw !important; /* Sobrescribe el margen derecho */
    border-radius: 10px !important; /* Sobrescribe el radio de borde */
    box-shadow: 0 0 40px rgba(36, 33, 33, 0.671);
  }

  .opcionesMenu {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    padding-top: 1.5vh;
    overflow: hidden;
    justify-content: center;
  }

  .opcionesMenu a {
    color: #000;
    text-decoration: none;
    font-size: .9vw;
    font-weight: 400;
    transition: all .3s;
    margin-left: 0.1vw;
    margin-right: 0.1vw;
    display: flex;
    align-items: center;
    gap: .8vw;
  }

  .opcionesMenu a:hover {
    color: #4fbaed;
    transform: scale(1.1);
    transform-origin: left;
  }


  .contenedorIconoPerfilMenuHamburguesa {
    width: 100%;
    min-width: 125px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-self: center;
    overflow: hidden;

  }

  .opcionesMenu img{
    width: 50%;
  }
  
  

/*---------------------------------- Pagina principal*/

.contenedor {
    width: 100vw;
    height: 100vh;
  }
  
  .principal {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #eef7ff;
    padding: 1.5vw;
    gap: 2vw;
  }
  
  
  /*-------------------------------Header*/
  .cabecera {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6%;
    z-index: 2;
  
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
    padding: 1.5vw;
    box-sizing: border-box;
  }
  
  .logo-rush-derecha {
    display: flex;
    align-items: center;
    gap: 1vw;
  }
  
  
  .cabecera img {
    width: calc(1.5vw + 1vh);
  }
  
  
  /*-----------------------------------------------------Seccion 1*/
  
  .homeseccion1 {
    position: relative;
    top: 6%;
    width: 50%;
    height: 94%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    box-sizing: border-box;
  }
  
  .homeseccion1__homeBienvenida {
    width: 100%;
    height: 30%;
    min-height: 125px;
    border: calc(.16vw + .1vh) solid #4fbaed;
    border-radius: calc(1.5vw + 1vh);
    padding: calc(1.0vw + 1vh);
    font-weight: bolder;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .homeseccion1__homeBienvenida h1 {
    text-align: center;
    font-size: calc(2.0vw + 2vh);
    font-weight: 500;
  }
  
  
  .homeseccion1__homeRecordatorios {
    width: 100%;
    height: 70%;
    border: calc(.1vw + .1vh) solid #e3f3fd;
    border-radius: calc(1.5vw + 1vh);
    overflow: auto;
    padding: calc(1.5vw + 1vh);
    background-color: white;
    box-sizing: border-box;
    scrollbar-width: none;  /* Firefox */
  }

  .homeseccion1__homeRecordatorios::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  
  .homeseccion1__homeRecordatorios__titulo {
    border-bottom: calc(.3vw + .2vh) solid #305a70;
    padding-bottom: calc(1.2vw + 1vh);
    padding-top: calc(.3vw + .2vh);
    margin-bottom: calc(1.2vw + 1vh);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .homeseccion1__homeRecordatorios__titulo h5 {
    font-size: calc(.7vw + .6vh);
  }

  .homeseccion1__homeRecordatorios__titulo a {
    font-size: calc(.7vw + .6vh);
    padding: calc(.2vw + .1vh);
    border-radius: calc(.7vw + .7vh);
    box-sizing: border-box;
    background-color: #135f88; 
    color: #ffffff;
    text-decoration: none;
  }

  .homeseccion1__homeRecordatorios__titulo a:hover {
    transform: scale(1.05);
    transform-origin: center; 
    transition: all .3s;
  }

  
  .homeseccion1__homeRecordatorios__recordatorios {
    display: flex;
    flex-direction: column;
  }
  
  .homeseccion1__homeRecordatorios__recordatorios p {
    font-weight: 500;
    font-size: calc(.7vw + .5vh);
    margin: 0;
    margin-bottom: calc(.7vw + .5vh);
    margin-top: calc(.7vw + .5vh);
    box-sizing: border-box;
  }
  
  .homeseccion1__homeRecordatorios__recordatorios hr {
    box-sizing: border-box;
    margin: 0;
  }
  
  
  
  
  /*-----------------------------------------------------Seccion 2*/
  
  
  
  .homeseccion2 {
    width: 50%;
    height: 94%;
    position: relative;
    top: 6%;
    border: calc(.16vw + .1vh) solid #4fbaed;
    border-radius: calc(1.5vw + 1vh);
    background-color: #f5fbff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;

  }
  
  
  .homeseccion2__homeCard {
    width: 100%;
    height: auto;
    display: flex;
    gap: calc(2.2vw + 1.7vh);
    padding: calc(1.5vw + 1vh);
    padding-bottom: 0;
    box-sizing: border-box;
  }
  
  .homeseccion2__homeCard__contenedorImagenCards {
    width: calc(8vw + 12vh);
    /* Ajusta según el diseño */
    position: relative;
    /* Necesario para posicionar el ícono dentro */
    display: inline-block;
    /* Mantiene el tamaño relativo al contenido */
    display: flex;
    justify-content: center;
  }
  
  .homeseccion2__homeCard__contenedorImagenCards img {
    display: block;
    /* Garantiza que las imágenes se comporten como elementos principales */
    height: auto;
    /* Mantiene la proporción de la imagen */
  }
  
  .homeseccion2__homeCard__contenedorImagenCards__icono {
    position: absolute;
    /* Posiciona el ícono dentro del contenedor */
    top: 85%;
    /* Ajusta según tu diseño */
    left: 92%;
    /* Ajusta según tu diseño */
    width: 16%;
  }
  
  .homeseccion2__homeCard__textoCards {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .homeseccion2__homeCard__textoCards h4 {
    font-size: calc(.9vw + .8vh);
    ;
  }
  
  .homeseccion2__homeCard__textoCards button {
    width: 35%;
    padding: calc(.2vw + .1vh);
    border-radius: calc(.7vw + .7vh);
    font-size: calc(.4vw + .6vh);
    box-sizing: border-box;
    align-items: flex-start;
    background-color: #135f88;
    color: #ffffff;
    transition: background-color, transform .3s;
  }
  
  .homeseccion2__homeCard__textoCards button:hover {
    background-color: rgb(14, 72, 105);
    transform: scale(1.05);
  }
  
  
  .homeseccion2__flechas {
    width: 98%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    box-sizing: border-box;
    margin-bottom: 2%;
    margin-right: 2%;
    background-color: transparent;
  }

  #carouselExampleControls{
    height: 100%;
  }
  
  .homeseccion2__flechas__flechaDerecha,
  .homeseccion2__flechas__flechaIzquierda {
    background-color: transparent;
    border: none;
    color: #136895;
    transition: color .3s;
  }
  
  .homeseccion2__flechas__flechaDerecha:hover,
  .homeseccion2__flechas__flechaIzquierda:hover {
    color: rgb(9, 58, 87);
    transform: scale(1.05);
  
  }
  
  .homeseccion2__flechas__flechaIzquierda span,
  .homeseccion2__flechas__flechaDerecha span {
    font-size: calc(1vw + 1vh) !important;
  }

  .carousel{
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow: hidden;
  }
  
  .carousel-inner,
  .carousel-item {
    height: 100%;
  }

  .carousel-item img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: calc(1.5vw + 1vh);
  }
  
  .button {
    padding: calc(.3vw + .2vh) calc(.8vw + .8vh) calc(.3vw + .2vh);
    border-radius: calc(.7vw + .7vh);
    font-size: calc(.6vw + .7vh);
    box-sizing: border-box;
    align-items: flex-start;
    background-color: #135f88;
    color: #ffffff;
    transition: background-color, transform .3s;
  }
  
  .button:hover {
    background-color: rgb(14, 72, 105);
    color: #ffffff;
    transform: scale(1.05);
  }
  
  .homeseccion2__flechas button{
    background-color: rgb(25, 135, 84);;
    margin-right: 3%;
  }

  .homeseccion2__flechas button:hover{
    background-color: rgb(22, 114, 71);;
    color: #ffffff;
    transform: scale(1.05);
  }

  .mdlAdministrarImg{
    width: 50%;
    height: 90vh;
    max-width: none;
  }

  .modal-content{
    height: 90vh;
  }

  .input_subirImagen{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
  }
  .input_subirImagen input[type="file"]{
    width: 100%;
    height: 100%;
    padding: calc(.3vw + .2vh) calc(.8vw + .8vh) calc(.3vw + .2vh);
    border-radius: calc(.7vw + .7vh);
    font-size: calc(.6vw + .7vh);
    box-sizing: border-box;
    align-items: flex-start;
    transition: background-color, transform .3s;
  }
  .input_subirImagen input[type="file"]:hover {
    transform: scale(1.05);
  }
  .input_subirImagen input[type="file"]::file-selector-button {
    display: none;
  }
  
  
  
.tabla_imagenes{
    overflow: auto;
    width: 100%;
    height: 60vh;
    border-radius: 10px;
}

.tabla_imagenes table {
    width: 100%;
    margin: 0 auto; /* Centra la tabla en la página */
    font-size: calc(.6vw + .5vh);
}

.tabla_imagenes table th, .tabla_imagenes table td {
    text-align: center; /* Centra horizontalmente */
    vertical-align: middle; /* Centra verticalmente */
    padding: 10px;
    min-width: 110px;
}

.tabla_imagenes th {
    background-color: #49b9ed;
    font-weight: bolder;
    color: white;
}

.tabla_imagenes td {
    background-color: #d8edff;
    font-weight: bolder;
    color: #012d56;
    border-bottom: 2px solid #4c7388;
}

.tabla_imagenes img {
    width: 50%;
    height: auto;
    border-radius: 10px;
    padding: 5px;
    margin: 0 auto; /* Centra la imagen en la celda */
}

.tabla_imagenes form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-borrarImagen{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  font-size: calc(.6vw + .5vh);
  padding: 5px 10px;
}

.btn-borrarImagen:hover{
  background-color: rgb(201, 1, 1);
}

.btn-borrarImagen span{
  color: white !important;
  font-size: calc(1.6vw + .5vh);
  font-weight: bolder;
}

/* Estilo para el botón personalizado */
.custom-file-upload {
  display: inline-block;
  text-align: center;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #d8edff;
  color: #012d56;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
}

/* Estilo del área de arrastrar y soltar */
#drop-zone {
  border: 2px dashed #bfe0fd;
  padding: 20px;
  border-radius: 4px;
  background-color: #f5faff;
  color: #012d56;
  font-size: 14px;
  transition: background-color 0.2s ease;
  padding: 7% 0;
}

/* Cambia el color al arrastrar archivos */
#drop-zone.dragover {
  background-color: #e6f3ff;
}

/* Estilo para el botón personalizado al pasar el ratón */
.custom-file-upload:hover {
  background-color: #bfe0fd;
}


  
  @media (max-width: 480px) {
  
    /* Reglas para teléfonos */
    .principal {
      flex-direction: column;
    }
  
    .homeseccion1 {
      width: 100%;
    }
  
    .homeseccion2 {
      width: 100%;
    }
  
    .homeseccion2__homeCard {
      gap: calc(3.2vw + 1.0vh);
    }
  
    .homeseccion2__contenedorArticle {
      display: flex;
      flex-direction: column;
      gap: calc(2.2vw + 1.5vh);
    }
  
    /* Sobrescribir el ancho horizontal */
    .offcanvas-top {
      width: 46vw !important; /* Sobrescribe el ancho horizontal */
      height: 300px !important; /* Sobrescribe la altura vertical */
      margin-left: 50vw !important; /* Sobrescribe el margen derecho */
    }
  
    .opcionesMenu a {
      font-size: 15px;
    }

    .mdlAdministrarImg{
      width: 90%;
      margin: 0 auto;
    }

  }
  
  @media (max-width: 300px) {
    .homeseccion2__homeCard__textoCards button {
      width: 60%;
    }

  }
  
  
  @media (min-width: 481px) and (max-width: 746px) {
    .homeseccion2__homeCard__textoCards h4 {
      font-size: calc(.6vw + .5vh);
    }
  
    .homeseccion2__homeCard__textoCards button {
      width: 50%;
      font-size: calc(.3vw + .4vh);
  
    }

    /* Sobrescribir el ancho horizontal */
    .offcanvas-top {
      width: 46vw !important; /* Sobrescribe el ancho horizontal */
      height: 300px !important; /* Sobrescribe la altura vertical */
      margin-left: 50vw !important; /* Sobrescribe el margen derecho */
    }
  
    .opcionesMenu a {
      font-size: 15px;
    }

    .mdlAdministrarImg{
      width: 90%;
      margin: 0 auto;
    }

  }
  
  
  @media (min-width: 747px) and (max-width: 1200px) {
    .homeseccion2__homeCard__textoCards h4 {
      font-size: calc(.6vw + .5vh);
    }
  
    .homeseccion2__homeCard__textoCards button {
      width: 40%;
      font-size: calc(.3vw + .5vh);
    }

    /* Sobrescribir el ancho horizontal */
    .offcanvas-top {
      width: 26vw !important; /* Sobrescribe el ancho horizontal */
      height: 300px !important; /* Sobrescribe la altura vertical */
      margin-left: 70vw !important; /* Sobrescribe el margen derecho */
    }
  
    .opcionesMenu a {
      font-size: 15px;
    }

    

  }

  @media(min-aspect-ratio: 3/2){
    .bodyAdministrarImagenes{
      height: 50vh;
    }
  }

  @media (max-height: 600px) {
    .bodyAdministrarImagenes{
      height: 50vh;
    }
  }


