.filtros form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin : 2%; 
    width: 96%;
}

.titulo{
    margin-bottom: 3%;
}

.filtros form label{
    font-size: 1.2em;
    margin-right: 10px;
    color: #002d56;
}

.filtro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
    width: 20%;
}

.filtro select, .filtro input{
    width: 100%;
    padding: 5px;

}

.btnFiltrar{
    text-decoration: none;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #012d56;
    padding: 5px;
    border-radius: 15px;
    width: 100%;
    transition: background-color, transform .3s;
}

.btnFiltrar:hover{
    background-color: #001d38;
    transform: scale(1.05);
}

.recordatorio{
    text-align: start;
    margin: 8px;
}

.seccionTabla .tablaIncidentes{
    width: 100% !important;
    table-layout: fixed;
}

.tablaIncidentes th, .tablaIncidentes td {
    text-align: center; /* Centra horizontalmente */
    vertical-align: middle; /* Centra verticalmente */
    padding: 10px;
    align-items: center;

}

.tablaIncidentes td a{
    text-decoration: none;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 161, 22);
    padding: 5px;
    border-radius: 15px;
    transition: background-color, transform .3s;
}

.tablaIncidentes td a span{
    color: white !important;
}

.tablaIncidentes td a:hover{
    background-color: rgb(0, 92, 12);
    transform: scale(1.05);
}

.tablaIncidentes td button{
    text-decoration: none;
    color: white !important;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #135f88;
    padding: 5px !important;
    margin: 3px;
    border-radius: 15px;
    width: 100% !important;
    transition: background-color, transform .3s;
    font-size: calc(.6vw + .5vh) !important;
}

.tablaIncidentes td button:hover{
    transform: scale(1.05);
    background-color: #0d3e58;
}

.rechazar{
    background-color: rgb(255, 0, 0) !important;
}

.rechazar:hover{
    background-color: rgb(202, 19, 19) !important;
}

.modalIncidentes{
    max-width: none !important;
    width: 60vw !important;
}

#descripcionModal, #aDescripcionModal, #cDescripcionModal{
    width: 95%;
    padding: 4px;
    border: 1px solid #d8edff;
    border-radius: 4px;
    background-color: #d8edff;
    box-sizing: border-box;
    min-height: 20px;
    color: #0d3e58;
    font-size: bolder;
}

.infoIncidente {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2%;
}
 .infoIncidente label{
    font-size: 1.2em;
    margin-right: 10px;
    color: #001d38;
}

.infoIncidente input{
    color: #001d38;
}

.inputUsuario {
    width: 100%;
    padding: 5px;
}

.inputUsuario label {
    font-size: 1.2em;
    margin-right: 10px;
    color: #0d3e58;
}

.inputUsuario textarea{
    width: 100%;
    padding: 5px;
}


/* Reglas para teléfonos */
@media (max-width: 1200px) {
    .filtro{
        flex-direction: column;
    }
    .filtro label{
        font-size: calc(.9vw + 1.5vh);
    }
    .tablaIncidentes th, .tablaIncidentes td {
        padding: 2px;
    }
}

@media (max-width: 746px) {
    .filtro{
        flex-direction: column;
    }
    .filtro label{
        font-size: calc(.5vw + 1vh);
    }
}

@media (max-width: 480px) {
    .filtros form{
        flex-direction: column;
    }
    .filtro{
        flex-direction: column;
        width: 70%;
    }
}

@media (max-width: 300px) {
    
} 