h4{
    font-size: calc(1.2vw + 1vh);
    color: #012d56
}

.titulo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(1.5vw + 1.5vh); /* Título más flexible */
    padding: 10px;
    margin-bottom: 1%;
    flex-direction: row;
}

.titulo h1 {
    margin: 0;
    font-weight: bold;
    font-size: calc(1.5vw + 1.5vh); /* Título más grande en pantallas grandes */
    color: #012d56;
}

.incidentes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(1.5vw + 1.5vh); /* Título más flexible */
    padding: 10px;
}

.listaIncidentes{
    width: 70%;
    
}


.tablaIncidentes{
    width: 95%;
    overflow: auto;
    scrollbar-width: none;  /* Firefox */
    margin: 3% 0 0 0;
    height: 50vh;
    border-radius: 19px;
}

.tablaIncidentes::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.tablaIncidentes table {
    width: 100%;
    font-size: calc(.6vw + .5vh);
}

.tablaIncidentes table th, .tablaIncidentes table td {
    text-align: center; /* Centra horizontalmente */
    vertical-align: middle; /* Centra verticalmente */
    padding: 10px;
    align-items: center;

}
 
.tablaIncidentes table td p {
    margin: 0;
}
    

.tablaIncidentes th {
    background-color: #49b9ed;
    font-weight: bolder;
    color: white;
}

.tablaIncidentes td {
    background-color: #d8edff;
    font-weight: bolder;
    color: #012d56;
    border-bottom: 2px solid #4c7388;
}

.tablaIncidentes td a{
    text-decoration: none;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 161, 22);
    padding: 5px;
    border-radius: 15px;
    width: 100%;
    transition: background-color, transform .3s;
}

.tablaIncidentes td a span{
    color: white !important;
}

.tablaIncidentes td a:hover{
    background-color: rgb(0, 92, 12);
    transform: scale(1.05);
}

.tablaIncidentes td button{
    text-decoration: none;
    color: white !important;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #135f88;
    padding: 5px !important;
    border-radius: 15px;
    width: 100% !important;
    transition: background-color, transform .3s;
    font-size: calc(.6vw + .5vh) !important;
}

.tablaIncidentes td button:hover{
    transform: scale(1.05);
    background-color: #135f88;
}

.rechazar{
    background-color: rgb(255, 0, 0) !important;
}

.rechazar:hover{
    background-color: rgb(202, 19, 19) !important;
}

.circle{
    background-color: #D32F2F;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: help;
}
.circle::after {
    content: "Este es un mensaje"; /* Texto del mensaje */
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
  }

  .circle:hover::after {
    opacity: 1;
  }
.gray {
    background-color: #BDBDBD;
    cursor: default;
}
.green {
    background-color: #2E7D32;
}
.yellow {
    background-color: #FBC02D;
    cursor: default;
}

.archivo_nulo{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    padding: 5px;
    border-radius: 15px;
    width: 100%;
    font-size: calc(.6vw + .5vh) !important;
}

.enviarContainer{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1vw;
    margin-top: 2vh;
    padding-right: 3vw;
    overflow: hidden;
}

.enviarContainer button {
    background-color: #135f88;
    color: white;
    padding: 5px;
    border-radius: 15px;
    transition: background-color, transform .3s;
    margin-left: 1vw;
    width: 15%;
    min-width: 100px;
    font-size: calc(.6vw + .7vh);
}

.enviarContainer button div span{
    font-size: calc(1vw + 1vh);
    color: white !important;
}

.enviarContainer button:hover {
    background-color: rgb(14, 72, 105);
    transform: scale(1.05);
}

.enviarContainer button div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5vw;
}

.opcionesIncidentes{
    width: 30%;
    margin: 0 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.opcionesIncidentes button{
    display: flex;
    text-decoration: none;
    padding: calc(.3vw + .2vh) calc(.8vw + .8vh) calc(.3vw + .2vh);
    border-radius: calc(.7vw + .7vh);
    font-size: calc(.6vw + .7vh);
    box-sizing: border-box;
    align-items: center;
    justify-content: start;
    background-color: #135f88;
    color: #ffffff;
    transition: background-color, transform .3s;
    margin: 0 0 2px 0;
}

.opcionesIncidentes button:hover {
    background-color: rgb(14, 72, 105);
    transform: scale(1.05);
}

.opcionesIncidentes button span{
    color: white;
    font-size: calc(.6vw + .7vh);
    margin-right: 10px;
}

/* ------------------------------------------------------------- Estilos del modal para agregar incidentes ---------------------------------------- */

.modal-content{
    width: 100%;
    height: 100%;
    border-radius: 55px;
    padding: 7%;
    box-sizing: border-box;
}

.modal-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center ;
    gap: 1vw;
}

.modalCrearIncidente {
    max-width: 50%; /* Define un ancho personalizado (ajustable) */
    width: auto; /* Permite que el ancho sea ajustable */
    min-width: 300px;
}

.modalCrearIncidente h2 {
    font-size: calc(1.5vw + 1.5vh); /* Título más grande en pantallas grandes */
    color: #012d56;
    margin: 0;
}

.modalCrearIncidente form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    margin-top: 2vh;
}

.modalCrearIncidente form label {
    font-size: calc(.8vw + .8vh);
    color: #012d56;
}

.modalCrearIncidente form input {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #012d56;
    font-size: calc(.8vw + .8vh);
}

.modalCrearIncidente form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #012d56;
    font-size: calc(.8vw + .8vh);
}

.modalCrearIncidente form select {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #012d56;
    font-size: calc(.8vw + .8vh);
}

.modalCrearIncidente form button {
    background-color: #135f88;
    color: white;
    padding: 10px;
    border-radius: 15px;
    transition: background-color, transform .3s;
    width: 50%;
    margin: 0 auto;
    font-size: calc(.8vw + .8vh);
}

.modalCrearIncidente form button:hover {
    background-color: rgb(14, 72, 105);
    transform: scale(1.05);
}

/* Ocultar opciones de tipos de incidentes */

#Retardo, #Salida_temprana, #Ausencia_temporal {
    display: none;
    
}

.inputUsuario{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    gap: 1vw;
}

/* ------------------------------------------------------------- Recordatorio ---------------------------------------- */

.barra-horizontal {
    width: 100%;
    background-color: #009de5;
    height: 3px;
    margin: 3vh 0 5vh 0; 
}

.recordatorio {
    width: 100%;
    color: #002451;
    text-align: left;
    font-size: .8em;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
}

.recordatorioh5{
    color: #002451;
    font-weight: bold;
    
}

.tabla_figuras_estatus{
    width: 100%;
    object-fit: cover;
    padding: 30px;
}