.containerFormulario{
    width: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.459));

}

.informacionComplementaria h1{
    font-size: calc(2vw + 2vh);
    text-align: center;
    margin-bottom: calc(1vw + 1vh);
}

.menuBotones{
    flex-wrap: wrap;
    gap: calc(1vw + 1vh);
    justify-content: center;
    width: 100%;
}

.accordion{
    margin-top: calc(2vw + 2vh);
}


#buttonMenu button{
    padding: calc(.4vw + .1vh) calc(.6vw + .6vh) calc(.2vw + .1vh);
    border-radius: calc(.7vw + .7vh);
    font-size: calc(.6vw + .7vh);
    box-sizing: border-box;
    align-items: flex-start;
    background-color: #135f88;
    color: #ffffff;
    width: 13%;
    min-width: 150px;
    transition: all .3s;
}

#buttonMenu button:hover {
    background-color: rgb(14, 72, 105);
    transform: scale(1.05);
  }

  #buttonMenu .button.active {
    background-color: rgb(14, 72, 105);
    transform: scale(1.05);
    box-shadow: 0px 0px 3px 0px #135f88;
}

#documento-actual{
    color: #135f88;
    font-size: calc(.6vw + .6vh);
    text-decoration: none;
    transition: all .1s;
}

#documento-actual:hover{
    text-decoration: underline;
    transform: scale(1.009);
}

form .selectMitad{
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

form .selectMitad .enfermedadContainer, form .selectMitad .alergiaContainer, form .selectMitad .medicamentoContainer{
    width: 100%;
}


/*oCULTANDO LOS SELECT*/
#consumirMedicamentosContainer, #hayAlergiasContainer, #enfermedadCronicaContainer{
    display: none;
}



legend h3{
    font-size: calc(1vw + 1vh);
    font-weight: bolder;
    color: #135f88;
    text-align: center;
    padding: calc(.5vw + .5vh);
}


.botonEliminar{
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(.5vw + .5vh); 
    transition: background-color .3s;
}

.botonEliminar span{
    font-size: calc(.7vw + .7vh);
}


.botonEliminarDocumento{
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(.5vw + .5vh); 
    transition: all .3s;
}

.botonEliminarDocumento span{
    font-size: calc(1vw + .8vh);
}

.botonEliminarDocumento span:hover{
    transform: scale(1.05) !important;
}


#collapseOne, #collapseTwo, #collapseThree, #collapseFour, #collapseFourFive,  #collapseFive, #collapseSix, #collapseSeven{
    label{
        font-size: calc(.65vw + .65vh);
    }
    input,select{
        font-size: calc(.6vw + .6vh);
        height: calc(1.5vw + 1.5vh);
        min-height: fit-content;
    }
    textarea{
        width: 95%; 
        height: calc(3vw + 3vh); 
        font-size: calc(.6vw + .6vh); 
        padding: calc(.5vw + .5vh); 
        resize: none; 
    }

}

.botonesIdiomas, .botonesEstudios, .botonesHistorialProfesional, .botonesDocumentacion, .botonesDatosSocieconomicos, .botonesDatosMedicos, .botonesDatosPersonales{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: calc(1vw + 1vh);
    margin-top: calc(2vw + 2vh);

    span{
        font-size: calc(.8vw + .8vh);
        color: #ffffff !important;
    }

}

.button.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(.5vw + .5vh); 
}


/* Estilos para el formulario de idiomas */

#idiomasContainer, #estudiosContainer {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start; 
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.idioma-row {
    display: flex;  
    flex-wrap: wrap; 
    gap: 10px;
    width: 100%;
    /*padding arriba y abajo*/
    padding: calc(1.3vw + 1.3vh) calc(.5vw + .5vh);
}

.estudio-row {
    display: flex;  
    flex-wrap: wrap; 
    gap: 10px;
    width: 100%;
    padding: calc(1vw + 1vh) calc(.5vw + .5vh);
}

.estudio-row.eliminado, .idioma-row.eliminado, .containerDatosProfesionalesCard.eliminado {
    position: relative; /* Necesario para posicionar el texto */
}

.estudio-row.eliminado::before, .idioma-row.eliminado::before, .containerDatosProfesionalesCard.eliminado::before{
    content: "Eliminado"; 
    position: absolute;
    top: 3%;
    left: -3%;
    transform: rotate(-45deg);
    background-color: rgba(255, 0, 0, 1); 
    color: white;
    font-size: calc(.8vw + .8vh); 
    font-weight: bold; 
    padding: 2px 6px; 
    border-radius: calc(.5vw + .5vh);
}

.containerDatosProfesionalesCard::before{
    top: -3%;
    left: -5%;
}


.form-group {
    margin-bottom: 10px;
    width: 100%;  /* Hacer que los elementos dentro de .form-group tengan 100% de ancho */
}

.form-control {
    width: 100%; /* Asegurarse de que los campos ocupen todo el ancho disponible */
}


.contenedorBoton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: auto;
}

.botonEliminar {
    padding: 5px 10px; /* Reducir el espacio alrededor del botón */

    span{
        color: #ffffff !important;
    }
}


/* Ajustar el tamaño de los inputs y las columnas si es necesario */
.col-md-12 {
    flex: 1; /* Hace que los elementos dentro de la fila ocupen el mismo espacio */
}
.col-md-2 {
    flex: 0 0 auto; /* El botón eliminar tendrá un tamaño fijo */
}

.containerDatosProfesionales, .containerDatosAcademicos, .idiomasContainer{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: calc(1vw + 1vh);
    border-radius: calc(.7vw + .7vh);
    gap: calc(.5vw + .5vh);
    box-shadow: 0px 1px 4px 0px #135f88;    

    p{
        font-size: calc(.8vw + .8vh);
        color: #001f51;
    }

}

.containerDatosProfesionales__headerCar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerDatosProfesionales__headerCar h3{
    font-size: calc(1vw + 1vh);
    font-weight: bold;
}

#sinHistorialProfesional, #sinDatosAcademicos, #sinIdiomas{
    display: none;
}

.form-control[type="file"] {
    font-size: calc(.6vw + .6vh);
    border-radius: 10px;
    background-color: #f9f9f9;
    color: #333;
    height: fit-content;
    padding: calc(.4vw + .3vh);
}

.form-control[type="file"]::file-selector-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: calc(.5vw + .5vh) calc(1.2vw + 1.2vh);
    border-radius: 5px;
    cursor: pointer;
}

.form-control[type="file"]::file-selector-button-label {
    font-size: calc(.6vw + .6vh);
    padding: 0;
    color: white;
}

.filepond--root {
    border-radius: 15px; /* Ajusta el valor según tus necesidades */
    overflow: hidden; /* Asegúrate de que el contenido respete el borde */
    border: 2px dashed #d8edff; /* Añade un borde alrededor de FilePond */
}

/* Cambiar el color del icono de previsualización */
.filepond--file-action-button {
    color: #4CAF50; /* Cambia el color del botón de acciones */
}

/*Cambiar color de fondo*/
.filepond--drop-label{
    background-color: #ffffff !important; 
    transition: all .3s;
}

.filepond--drop-label:hover{
    background-color: #b5d8f5 !important; 
    scale: 1.03;
}

  /* Cambiar el color del texto principal */
.filepond--label {
    color: #007bff; /* Cambia a tu color preferido */
    font-size: 16px; /* Opcional: ajusta el tamaño */
}

/* Cambiar el color del texto interactivo */
.filepond--label-action {
    color: #135f88; /* Cambia a tu color preferido */
    font-weight: bold; /* Opcional: hacerlo más destacado */
    text-decoration: underline; /* Opcional: subrayar */
}


.form-group{
    margin-bottom: calc(1vw + 1vh);
}


/*Para cuando se eleimina una fila*/
.eliminado {
    background-color: #f8d7da; /* Color rojizo */
    opacity: 0.7; /* Apariencia más tenue */
}

.eliminado input, .eliminado select, .eliminado textarea {
    pointer-events: none; /* Evitar interacción */
    color: #6c757d; /* Color tenue */
}

#collapseFour #filasDocumentos, #collapseFourFive #filasDocumentos{
    display: flex !important;
    flex-direction: row !important;

}

#collapseFour .form-group, #collapseFourFive .form-group{
    width: 50% !important;
}


@media (max-width: 520px) {
    .containerDatosProfesionales__headerCar h3{
        font-size: 12px
    }

    .informacionComplementaria .form-group {
        margin-bottom: 10px;
        font-size: 0px;
    }

    .idiomasContainerPreguntas, .estudioContainerPreguntas{
        display: flex;
        flex-direction: column !important;

    }

    .contenedorBoton .botonEliminar{
        margin: 0 !important;
    }
    


    .containerFormulario{
        padding: 0px;
    }
    

}
 