
.planeacionActividades, .detallesActividad{
    .buttonGeneral{
        padding: calc(.4vw + .1vh) calc(.6vw + .6vh) calc(.2vw + .1vh);
        border-radius: calc(.7vw + .7vh);
        font-size: calc(.6vw + .7vh);
        box-sizing: border-box;
        align-items: flex-start;
        background-color: #135f88;
        color: #ffffff;
        width: 15%;
        min-width: 150px;
        transition: all .3s;    
    }

    .buttonGeneral:hover {
        background-color: rgb(14, 72, 105);
        transform: scale(1.009);
    }

    .detallesButton{
        width: 100%;
        background-color: #2A9D8F;
        border-color: #2A9D8F;
    }

    .detallesButton:hover {
        background-color: #1b7066;
    }


}


.textoButton{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: calc(.5vw + .5vh);

   span{
        font-size: calc(.7vw + .7vh);
        color: #ffffff;
    }

}

span.drag{
    color: #000000;
    font-size: calc(.8vw + .8vh);
}

.planeacionActividades h1 {
    font-size: calc(4vw + 3vh);

}

.planeacionActividades h1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    
}


.planeacionActividades .titulo{
    font-size: calc(1.5vw + 1.5vh);
    color: #002d56;
}


.planeacionActividades .año {
    background: linear-gradient(180deg, #3d95cb, #235a7c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(35, 154, 163, 0.3);
    letter-spacing: calc(0.3vw + 0.3vh);
    font-size: calc(2.5vw + 2.5vh);
}


.planeacionActividades .encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: calc(1vw + 1vh);

    select{
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1vw;
        font-size: calc(0.6vw + 0.6vh);
    }
}


.contenedorSubplanes{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: calc(1vw + 1vh);
    border-radius: calc(.7vw + .7vh);
    gap: calc(.5vw + .5vh);
    box-shadow: 0px 1px 4px 0px #135f88;  

    .accordion{
        margin: 0;
    }

    .row{
        margin: 0;
        padding: 0;
        width: 100%;
        margin-bottom: calc(.8vw + .8vh);
    }

    .col-12{
        padding: 0;
    }

    .container{
        padding: 0;
    }

}


.subplanes__encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: calc(1vw + 1vh);

    h2{
        font-size: calc(1.2vw + 1.2vh);
    }
}

.actividades__encabezado{
    margin-bottom: calc(1.2vw + 1.2vh);
    margin-top: calc(.7vw + .8vh);
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: calc(.5vw + .5vh);
    flex-wrap: wrap;

    .planeacion__botones{
        display: flex;
        gap: calc(.5vw + .5vh);
        width: 70%;
        flex-wrap: wrap;

        .editarActividadButton{
            width: 20%;
        }

        .botonEliminarCosas{
            background-color: #dc3545;
            width: 20%;
    
        }
        
        .botonEliminarCosas:hover{
            background-color: #b61b2a;
        }

    }

    .agregarActividadButton{
        width: 20%;
    }
    
    
}



.alert-warning{
    font-size: calc(.6vw + .6vh);
    display: flex;
    justify-content: center;
    align-items: center;

    .atencionMessage{
        display: flex;
        gap: calc(.5vw + .5vh);
        justify-content: center;
        align-items: center;
    }

    span{
        font-size: calc(.7vw + .7vh);
    }
}

.accordion-header button{
    font-size: calc(.6vw + .7vh);
}

.actividades__contenedor .draggable-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(.5vw + .5vh);
    margin-bottom: calc(.5vw + .5vh);
    width: 100%;

    .form-group{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.actividades__contenedor .form-group, .planeacionActividadesModal .modal-body .form-group{
    margin: 0 ;
}

.actividades__contenedor .form-group label,.planeacionActividadesModal .modal-body .form-group label{
    font-size: calc(.6vw + .7vh); 
}

.actividades__contenedor .form-group input, .planeacionActividadesModal .modal-body .form-group input, .actividades__contenedor .form-group select, .planeacionActividadesModal .modal-body .form-group select{
    font-size: calc(.6vw + .7vh); 
    padding: calc(.4vw + .3vh);
    height: auto;

}   



/* Estilos para los formularios */
.draggable-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: calc(.5vw + .5vh);
}

.sortable-ghost {
    opacity: 0.5;
    background-color: #e0e0e0;
}


.accordion-body {
    .table{
        td .accionesAlumno{
            display: flex;
            justify-content: center;
            align-items: center;    
            gap: calc(.5vw + .5vh);
        }

        td{
            font-size: calc(.6vw + .6vh);
        }

        th{
            font-size: calc(.7vw + .7vh);
        }
        
    }
}


/*EStilo boton del toggle, boton de abrir o cerrar*/
.accordion-button::after{
    width: calc(1vw + 1vh);
    height: calc(1vw + 1vh);
    padding: 0;
    z-index: 3;
    background-size: calc(1vw + 1vh);
}


#contenedorSpinner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(.5vw + .5vh);
    margin-top: calc(1vw + 1vh);
    display: none;

    .spinner-grow{
        width: calc(1vw + 1vh);
        height: calc(1vw + 1vh);
    }

    /*cambiar el color a cada spinner a un azul cada vez mas fuerte*/
    .text-primary{
        color: #1d8ac5 !important;
    }
    .text-secondary{
        color: #197db3 !important;
    }
    .text-success{
        color: #1670a1 !important;
    }
    .text-danger{
        color: #136391 !important;
    }
    .text-warning{
        color: #105681 !important;
    }
    .text-info{
        color: #0d4a70 !important;
    }
    .text-light{
        color: #0a3d5e !important;
    }
    .text-dark{
        color: #082f4e !important;
    }
}


.planeacionActividadesModal .modal-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: calc(.5vw + .5vh);
    color: #ffffff;

    span{
        font-size: calc(.7vw + .7vh);
        color: #ffffff;
    }
}


.planeacionActividadesModal .modal-header{
    padding: calc(.8vw + .8vh);
    margin: 0;

    h5{
        font-size: calc(.9vw + .9vh);
        font-weight: bold;
    }
}

.planeacionActividadesModal .modal-header button{
    font-size: calc(.6vw + .6vh);
    color: #ffffff;
}

.planeacionActividadesModal .modal-body{
    padding: calc(.8vw + .8vh);
    gap: calc(.9vw + .9vh);
}



@media screen and (max-width: 520px) {
    .actividades__contenedor .draggable-item{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .actividades__contenedor .form-group {
        flex: 1 1 49%; /* Adjust the percentage as needed */
        min-width: 50px; /* Adjust the minimum width as needed */
    }

    .drag-handle{
        width: 100%;
    }

    .planeacionActividades .encabezado .titulo {
        width: 120px;
    }


}


@media screen and (max-width: 650px) {
    .planeacionActividades .buttonGeneral.detallesButton {
        min-width: 0;
    }

    .actividades__encabezado{
        justify-content: center;
    
        .planeacion__botones{
            justify-content: center;
        }
    }
}

