.main{
  height: 100vh !important;
  width: 100vw !important;
  padding-top: 0;
}

.contenedor{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column; /* Asegura que las secciones se organicen en una columna */
  /*justify-content: center; /* Opcional: Centrar todo el contenido del contenedor */
  /*align-items: center; /* Centrar las secciones horizontalmente */
  gap: 2.5vh;
  overflow-y: auto;
  border: calc(.16vw + .1vh) solid #4fbaed;
  border-radius: calc(1.5vw + 1vh);
  padding: calc(1.0vw + 1vh);
  box-sizing: border-box; 
  scrollbar-width: none; /* Firefox */
}

.cabeceraPausas{
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cabeceraPausas__Fecha{
  padding: 10px; /*agrega padding interno */
  box-sizing: border-box; /* Incluye padding en el cálculo del ancho */
}

.cabeceraPausas__Fecha__contenido {
  display: flex; /* Activa flexbox */
  align-items: center; /* Alinea verticalmente al centro */
  gap: 8px; /* Espacio entre el botón y el texto */
}

.cabeceraPausas__Fecha__contenido h1{
  margin: 0;
  font-size: 3vw !important;
}

.selectFormularioFechas .selectorFecha{
  display: flex;
  flex-direction: column; /* Organiza los elementos en columnas (vertical) */
  gap: 8px;
}

.selectFormularioFechas label {
  color: #002d56 !important;
}

.selectFormularioFechas option{
  background-color: #d8edff;
  border: none;
}

.selectFormularioFechas select{
  background-color: #d8edff;
  border: none;  
}

.botonBuscarFechas{
  margin-left: auto;
  background-color: #002d56;
  color: #ffffff;
  border-radius: 20px;
  border: none;
  width: 5.5vw; 
  height: 4.5vh; 
  font-size: 1em; 
  transition: background-color 0.3s, color 0.3s, width 0.3s, height 0.3s, font-size 0.3s; /* Animación suave */
  box-sizing: border-box;
}

.botonBuscarFechas:hover{
  background-color: #001a3a;
}

.material-symbols-outlined {
  font-size: 24px; /* Tamaño del ícono */
  color: #000; /* Cambia el color si es necesario */
}

.cabeceraPausas img {
  width: calc(2.5vw + 1.5vh);
}

.Seccion1{
  width: 100%; /* Asegura que ocupen todo el ancho del contenedor */
  flex-shrink: 0; /* Evita que se encojan */
  padding: 10px; /* Añade espacio interno */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño */
}

.Seccion1__tabla {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  background: #fff;
}

.Seccion1__tabla th{
  background-color: #49b9ed;
  color: white;
  padding: .5;
  text-align: center;
  border: none; /* Elimina todos los bordes */
  border-right: 2px solid white; /* Línea divisoria entre columnas */
  font-size: 15px; /*Cambia el tamaño del texto*/
}

.Seccion1__tabla td{
  width: 14.28%;
  height: 120px;
  border: 2px solid #49b9ed;
  position: relative;
  text-align: center;
  vertical-align: top;
  padding: 0 !important;
}

.Seccion1__tabla__celdas{
  position: relative;
  width: 100%;
  height: 100%;
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Mantiene el color original del texto */
  display: block;
  padding: 0; /* Asegura que no haya espacio interno */
  margin: 0; /* Elimina cualquier margen */
}

.Seccion1__tabla__celdas .fecha{
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.Seccion1__tabla__celdas .hora{
  position: absolute;
  bottom: 0; /* Lo posiciona en la parte inferior */
  left: 50%; /* Lo centra horizontalmente */
  transform: translateX(-50%); /* Ajusta el centrado horizontal exacto */
  font-size: 12px;
  font-weight: bolder;
  color: #235a7c ;
}

.Seccion1__tabla__celdas img{
  width: calc(2.8vw + 2.8vh);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.Seccion2{
  width: 100%;
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */ 
  align-items: center; /* Centrado vertical */
  align-items: center; /* Centrado vertical */
  gap: 2.5vh;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  flex-shrink: 0; /* Evita que se encojan */
  padding: 10px; /* Añade espacio interno */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño */
}

.Seccion2__boton{
  background-color: #49b9ed !important; /* Cambia el color de fondo */
  color: white !important; /* Cambia el color del texto */
  border-color: #49b9ed !important;/* Cambia el color del borde */
  font-weight: bold !important;
}

.Seccion2__boton:hover{
  background-color: #235a7c !important;/* Color al pasar el cursor */
  border-color: #235a7c !important;
}

.Seccion2__tablaUsuarios {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.Seccion2__tablaUsuarios th{
  background-color: #49b9ed;
  color: white;
  padding: .5;
  text-align: center;
  font-size: 15px; /*Cambia el tamaño del texto*/
}

.Seccion2__tablaUsuarios td {
  height: 90px;
  border: 2px solid #49b9ed;
  position: relative;
  text-align: center;
  vertical-align: top;
}

.Seccion2__tablaUsuarios .nombre {
  font-weight: bold; /* Texto en negritas */
  font-size: clamp(14px, 1.5vw, 24px); /* Mínimo de 14px, ajustable con el ancho de la ventana, máximo de 24px */
  text-align: center; /* Centra el texto horizontalmente */
  vertical-align: middle; /* Centra verticalmente el contenido */
  padding: 10px; /* Espaciado interno */
  line-height: 90px; /* Ajusta la altura de línea para centrar el texto en la celda */
}

.Seccion2__tablaUsuarios .foto {
  width: 20%; /* La celda de la foto será más estrecha */
  flex-shrink: 0; /* Evita que se encojan */
  padding: 10px; /* Añade espacio interno */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño */
}

.Seccion2__tablaUsuarios__celdas{
  position: relative;
  width: 100%;
  height: 100%;
}

.Seccion2__tablaUsuarios__celdas img{
  width: calc(2.8vw + 2.8vh);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.Seccion3{
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  flex-shrink: 0; /* Evita que se encojan */
  padding: 10px; /* Añade espacio interno */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño */
}

.Seccion3 img{
  width: calc(15vw + 20vh);
}

/*----------Modal------------*/
.offcanvas-pausas {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Suaviza las transiciones */
  transform: translateY(0); /* Posición inicial (visible) */
  margin-left: 45vw !important; /* Centrado horizontal */
}

.offcanvas-pausas.show {
  top: 6.5vh; /* Baja al centro con margen superior */
  margin-left: 45vw !important; /* Sobrescribe el margen derecho */
}

.offcanvas-pausas:not(.show) {
  transform: translateY(-100%) !important; /* Desplazarse hacia arriba al ocultarse */
  margin-left: 45vw !important; /* Mantener centrado horizontalmente */
}

.selectModal label{
  color: #002d56 !important; 
}

.selectModal__botonenviar{
  background-color: #002d56;
  color: #ffffff;
  border-radius: 20px;
  border: none;
  width: 5.5vw; 
  height: 4.5vh; 
  font-size: 1em; 
  transition: background-color 0.3s, color 0.3s, width 0.3s, height 0.3s, font-size 0.3s; /* Animación suave */
  box-sizing: border-box;
}

.selectModal__botonenviar:hover {
  background-color: #001a3a; /* Tono más oscuro */
  color: #ffffff;
  box-sizing: border-box;
  transform: translateY(-1px); /* Desplaza ligeramente hacia arriba */
}

.botonCancelar{
  width: 1vw !important; /* Tamaño más pequeño */
  height: 1vh !important; /* Tamaño más pequeño */
}

@media(max-width: 1370px){
  .selectModal__botonenviar{
    width: 85px;
    height: 40px;
  }

  .botonBuscarFechas{
    width: 85px;
    height: 40px;
  }
}

@media(max-width: 480px)
{
  .main{
    padding-top: 2vw !important;
  }
 
  .contenedor{
    height: 90vh;
  }

  .cabeceraPausas{
    width: 98%;
  }

  .cabeceraPausas__Fecha__contenido h1{
    font-size: 20px !important;
  }

  .selectFormularioFechas label{
    font-size: 12px;
  }

  .selectFormularioFechas select{
    font-size: 12px;
    height: 30px;
  }

  .botonBuscarFechas{
    width: 75px !important;
    height: 30px !important;
    font-size: 12px;
  }

  .Seccion1{
    width: 100%;
  }

  .Seccion1__tabla th{
    font-size: 7px; /*Cambia el tamaño del texto*/
  }

  .Seccion1__tabla td{
    height: 85px;
  }
  
  .Seccion1__tabla__celdas .fecha{
    font-size: 9px;
  }

  .Seccion1__tabla__celdas .hora{
    font-size: 9px;
  }

  .Seccion2{
    width: 100%;
    height: 100%;
    height: auto !important;
  }

  .Seccion2__tablaUsuarios th{
    font-size: 7px;
  }

  .selectModal__botonenviar{
    width: 85px;
    height: 40px;
  }
  
  .Seccion2__boton{
    width: 90px !important;
    height: 25px !important;
    font-size: 10px;
  }
  
  .Seccion2 .Seccion2__tablaUsuarios td{
    height: 65px !important;
  }

}

