<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{plantilla/plantilla.html :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
</head>
<body>
    <nav th:replace="~{plantilla/plantilla.html :: nav}"></nav>
    <div class="containerPrincipal">
        <h3>Inventario</h3>
        <div class="w-50 d-flex justify-content-between my-4">    
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                    <th>Sacar</th>
                    <th>Activo</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="producto : ${productos}">
                    <td th:text="${producto.nombre}"></td>
                    <td th:text="${producto.descripcion}"></td>
                    <td th:text="${producto.cantidad}"></td>
                    <td><button th:value="${producto.idProducto}" name="editar" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalRestarProducto">^</button></td>
                    <td th:text="${producto.activo} ? 'Sí' : 'No'"></td>
                </tr>
            </tbody>
        </table>
        <a href="/">Volver a Inicio</a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalRestarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/inventarioRestar" method="post">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Sacar cantidad en producto</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" id="idRestarCantProducto" required>
                    <label for="cantidad">Cuantos deseas sacar</label>
                    <input type="number" name="cantidad" id="" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    </div>


    <script th:src="@{/js/almacenista.js}"></script>

    <footer th:replace="~{plantilla/plantilla.html :: footer}"></footer>
</body>
</html>