<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{plantilla/plantilla.html :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico</title>
</head>
<body>
    <nav th:replace="~{plantilla/plantilla.html :: nav}"></nav>
    <div class="containerPrincipal">
        <h3>Historial de movimientos</h3>
        <a href="/logout">Cerrar Sesión</a>
        <div class="w-50 d-flex justify-content-between my-4">    
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Usuario</th>
                    <th>Tipo</th>
                    <th>Cantidad</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="movimiento : ${movimientos}">
                    <td th:text="${movimiento.producto.nombre}"></td>
                    <td th:text="${movimiento.usuario.correo}"></td>
                    <td th:text="${movimiento.tipo}"></td>
                    <td th:text="${movimiento.cantidad}"></td>
                    <td th:text="${#temporals.format(movimiento.fechaHora, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
            </tbody>
        </table>
        <a href="/inventarioAdmin">Volver al Inventario</a>
    </div>

    <div id="alert-data"
        th:data-message="${message}"
        th:data-messagetype="${messageType}">
    </div>

    <script th:src="@{/js/administrador.js}"></script>

    <footer th:replace="~{plantilla/plantilla.html :: footer}"></footer>
</body>
</html>