@page 
@model IndexModel
@{
    Layout = "_LayoutSimple";
    ViewData["Title"] = "Pagina Principal";
}
@section Styles {
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
}
@{
<div class="contenedor-pagina_principal">
    <header class="cabecera">
        <div class="logo_rush-cabecera">
            <a href="#"><img src="~/assets/icon-logo_rush-cabecera.png" alt="Logo Rush"></a>
        </div>
        <div class="logo-rush-derecha">
            <div class="menu-cabecera-oculto">
                <a href="#"><img src="~/assets/icon-menu-cabecera.png" alt="Menu de opciones"></a>
            </div>
            <div class="usuario-cabecera">
                <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><img src="~/assets/icon-usuario-cabecera.svg" alt="Icono Usuario"></a>
            </div>
        </div>
    </header>
    <div class="d-flex fondoPaginaPrincipal">
        <div class="d-flex flex-column justify-content-center fondoPaginaPrincipal__figura1">
            <div class="d-flex flex-column fondoPaginaPrincipal__figura1__letras ">
                <h1 class="ml-5">Asuntos</h1>
                <h1 class="ml-5">Profesionales</h1>
            </div>
            <div class="d-flex">
                <img src="~/assets/LogoLetrasRushSinFondo.png" alt="Fondo figuras">
            </div>

            <div class="d-flex justify-content-end w-75 mt-3">
                <button>Conoce más</button>
            </div>
        </div>
        <div class="fondoPaginaPrincipal__figura2"></div>
    </div>



    <footer class="d-flex justify-content-between align-items-center p-4 pb-0 footer">
        <div class="d-flex footer__seccionInfoGeneral">
            <div>
                <h4>SERVICIOS</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Inteligencia de negocios</a></li>
                    <li><a href="#">Infraestructura</a></li>
                    <li><a href="#">Logística</a></li>
                </ul>
            </div>
            <div class="footer__seccionInfoGeneral__acercaNosotros">
                <h4 class="oculto">f</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Acerca de nosotros (as)</a></li>
                    <li><a href="#">Política de privacidad</a></li>
                    <li><a href="#">Contáctanos</a></li>
                </ul>
            </div>
        </div>

        <div class="footer__seccion-contactanos">
            <h4>CONTÁCTANOS</h4>
            <ul class="list-unstyled pl-5 pr-5 footer__seccion-contactanos__lista-direccion">
                <li>
                    <a href="https://maps.app.goo.gl/envJunNDwk3job2s5" target="_blank">Lomas de San Francisco no.8</a>
                </li>
                <li>
                    <a href="https://maps.app.goo.gl/envJunNDwk3job2s5" target="_blank">Col. Lomas de Cervera, Guanajuato, Gto.</a>
                </li>
                <li><a href="mailto:contacto@rushtecnologias.com">contacto@rushtecnologias.com</a></li>
                <li>
                    <p>+52 1 473 192 0104</p>
                </li>
            </ul>
        </div>
    </footer>


</div>

<!-- Modal -->
<div class="modal fade centered" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="contenedor-boton">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-page-handler="DoLogin">

            <div class="modal-body">
                <img src="~/assets/icon-usuario-cabecera.svg" alt="Icono Usuario">
                <h1>Asociado(a)</h1>
                <div class="inputUsuario">
                    <label for="usuario">Usuario: </label>
                    <input type="text" id="Nick" name="Nick" asp-for="info.Nick" required>
                </div>
                <div class="inputContraseña">
                    <label for="password">Contraseña: </label>
                    <div class="password-container">
                    <!-- Checkbox para activar/desactivar la visibilidad -->
                    <input type="checkbox" id="toggle-password">
                    <!-- Campo de contraseña -->
                    <input type="password" id="Password" name="Password" asp-for="info.Password" required>
                    <!-- Etiqueta del ojito -->
                    <label for="toggle-password"><span id="imagenOjoAbierto" class="material-symbols-outlined activo no-visible"> visibility</span></label>
                    <label for="toggle-password"><span id="imagenOjoCerrado" class="material-symbols-outlined activo visible">visibility_off</span></label>
                    </div>
                </div>
                <button class="acceder" type="submit">Acceder</button>
                    @if(ViewData["mensaje"] != null)
                    {
                        @ViewData["mensaje"];
                    }
            </div>
            </form>

        </div>
    </div>
</div>
}

@section Scripts {
    <script src="~/js/login.js"></script>
    <script>
        // Mostrar mensaje de alerta que vienen desde controlador
        document.addEventListener("DOMContentLoaded", function() {
            const message = '@Html.Raw(TempData["Message"])';
            const messageType = '@TempData["MessageType"]';

            if (message) {
                Swal.fire({
                    title: messageType === "success" ? "¡Éxito!" : "¡Aviso!",
                    text: message,
                    icon: messageType,
                    confirmButtonText: "Aceptar"
                });
            }            
        });
    </script>
}