@page
@model Rush_Rh.Pages.MisAvisos
@{
    ViewData["Title"] = "MisAvisos";
}

@section Styles {
    <link rel="stylesheet" href="~/css/misAvisos.css">
}

@{
    <div class="contenido">
        <div class="titulo1">
            <h1>Sistema RRHH / Mis Avisos:</h1>

        </div>
        <div class="contenidoMisAvisos">
            <div class="tablaMisAvisos">
                <table>
                    <thead>
                        <tr>
                            <th width="14.28%" align="center">Asunto</th>
                            <th width="14.28%" align="center">Fecha</th>
                            <th width="40%" align="center">Descripcion</th>
                            <th width="14.28%" align="center">Adjuntos</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var aviso in Model.avisos)
                        {
                            <tr>
                                <td>@aviso.Titulo</td>
                                <td>@aviso.FechaEvento.ToString("d")</td>
                                <td>@Html.Raw(aviso.Contenido)</td>
                                <td>
                                    @if (aviso.URL == "")
                                    {
                                        <span class="archivo_nulo">No hay adjuntos</span>
                                    }
                                    else
                                    {
                                        <a href="@aviso.URL" target="_blank"> <span class="material-symbols-outlined">file_open</span> Ver adjunto</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="filtroFechas">
                @* <div>
                    <label for="fechaInicio">Fecha Inicio:</label>
                    <input type="date" id="fechaInicio" name="fechaInicio">
                    <label for="fechaTermino">Fecha Termino</label>
                    <input type="date" id="fechaTermino" name="fechaTermino">
                    <button class="button" type="button"><span class="material-symbols-outlined">search</span>Buscar avisos</button>
                </div> *@
                <div class="recuerda">
                    <div class="barra-vertical"></div>
                    <div class="recordatorio-columna">
                        <p class="recordatorio">
                            Recuerda: <br> <br>
                            Son todos los avisos próximos a partir del día de hoy, la fecha actual. <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}