@page
@model VerSolicitudPdfModel
@{
    Layout = "_Layout"; // tu layout normal
    ViewData["Title"] = "Solicitudes";
}

<h1 class="mb-4">Vista de la solicitud en pdf</h1>

<iframe id="pdfFrame"
        src="/PdfSolicitudes?id=@Model.Id&tipo=@Model.Tipo"
        width="100%"
        height="700px"
        frameborder="0">
</iframe>


