/* _content/Rush Rh/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-2sasazjm7g] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-2sasazjm7g] {
  color: #0077cc;
}

.btn-primary[b-2sasazjm7g] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-2sasazjm7g], .nav-pills .show > .nav-link[b-2sasazjm7g] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-2sasazjm7g] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-2sasazjm7g] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-2sasazjm7g] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-2sasazjm7g] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-2sasazjm7g] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Rush Rh/Pages/Shared/_LayoutSimple.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-t22qck25fe] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-t22qck25fe] {
  color: #0077cc;
}

.btn-primary[b-t22qck25fe] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-t22qck25fe],
.nav-pills .show>.nav-link[b-t22qck25fe] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-t22qck25fe] {
  border-top: 1px solid #e5e5e5;
}

.border-bottom[b-t22qck25fe] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-t22qck25fe] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-t22qck25fe] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-t22qck25fe] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

/*
.barra-navegacion-lateral {
  background-color: #235a7c;
  color: white;
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
}

.barra-navegacion-lateral a{
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin-bottom: 10px;
}*/
